body {
  background-color: #121212;
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding-top: 90px;
  overflow-x: hidden;
}

/* Thanh đầu trang */
.noname {
  width: 100%;
  height: 56px;
  background: #000000;
  border-bottom: 2px solid #888888;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 70px;
}

/* Avatar tròn */
.avatar {
  width: 45px;
  height: 45px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 10px;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Chữ Home */
.home {
  font-size: 150%;
  color: #FFFFFF;
  margin: 0;
}

/* Nút Search */
.icon-search {
  width: 21px;
  height: 26px;
  object-fit: cover;
}
.search-btn {
  background: none;
  color: #FFFFFF;
  position: absolute;
  width: 35px;
  height: 35px;
  max-width: 400px;
  max-height: 400px;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 105px;
  transition: 0.3s;
}
.search-content {
  width: 75%;
  height: 0;
  background: #000000;
  color: white;
  border-radius: 8px;
  border: 2px solid #888888;
  margin: 40px auto;
  padding: 20px;
  position: absolute;
  top: -300px;
  right: auto;
  transition: 0.4s;
  outline: none;
}
.search-content.show {
  top: -34px;
}
.search-content:focus {
  border-color: #FFB84D;
  box-shadow: 0 0 10px #FFB84D;
}
ul {
  list-style: none;
  padding: 0;
}

/* Nút menu */
.menu-btn {
  background: none;
  color: #FFFFFF;
  border: none;
  font-size: 18px;
  position: absolute;
  top: 13px;
  right: 80px;
  cursor: pointer;
  transition: 0.3s;
}
.menu-btn:hover, .search-btn:hover {
  transform: scale(1.2);
}

/* Menu kéo ngang */
.menu-content {
  width: 35%;
  min-width: 35%;
  background: #000000;
  border-left: 2px solid #888888;
  border-bottom: 2px solid #888888;
  margin: 40px auto;
  padding: 20px;
  position: absolute;
  top: 16px;
  right: -999px;
  transition: right 0.4s ease;
}
.menu-content.show {
  right: 70px;
}
.menu-content button {
  display: block;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 10px 20px;
  margin: 8px auto;
  width: 300px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 30px;
  transition: 0.3s;
}
.menu-content button:hover {
  background-color: #FFFFFF;
  color: #000000;
  transform: scale(1.05);
}

/* Dòng LED chạy */
.led {
  width: 100%;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  background: #121212;
  border-bottom: 2px solid #888888;
  padding: 2px;
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 9;
}
.led span {
  display: inline-block;
  color: #CCCCCC;
  font-family: Monospace;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 5px;
  animation: chay 8s linear infinite;
}
@keyframes chay {
  from { transform: translateX(150%); }
  to { transform: translateX(-150%); }
}
.phanaddon {
  color: #E0E0E0;
  font-size: 300%;
}

/* Container chứa nút */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

/* Nút bấm */
.button-container button {
  background-color: #000000;
  color: #FFFFFF;
  border: 4px solid #FFFFFF;
  font-size: 30px;
  border-radius: 18px;
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 12px 25px;
  width: 80%;
  cursor: pointer;
  transition: 0.3s;
}
.button-download button {
  background-color: #000000;
  color: #FFFFFF;
  border: 4px solid #FFFFFF;
  font-size: 25px;
  border-radius: 18px;
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 12px 25px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.button-container button:hover, .button-download button:hover {
  transform: scale(1.05);
  background-color: #FFFFFF;
  color: #000000;
  border: 4px solid black;
  box-shadow: 0 0 20px #FFB84D;
}

/* Ảnh addon */
.anhaddon {
  width: 20%;
  max-width: 400px;
  display: block;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  transition: 0.3s;
}
.button-container button:hover .anhaddon {
  border: 4px solid #000000;
  box-shadow: 0 0 30px #FFB84D;
}

/* Title */
.title {
  width: 50%;
  max-width: 400px;
}

/* Khối nền addon */
.background-addon {
  width: 70%;
  background: #1E1E1E;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}
.cover_photo {
  width: 90%;
  border: 2px solid #FFFFFF;
}
.gioi-thieu {
  color: #FFFFFF;
  font-size: 20px;
  text-align: left;
}
.download-text {
  color: #FFFFFF;
  font-size: 20px;
}
.recipe {
  width: 80%;
  border: 2px solid #FFFFFF;
  transition: transform 0.3s ease;
}
.recipe:hover {
  transform: scale(1.06);
}
.video-container {
  width: 90%;
  height: 400px;
  border: 2px solid #FFFFFF;
}
.video {
  width: 90%;
  border: 2px solid #FFFFFF;
  margin-left: -1px;
}
.logo-web {
  width: 20%;
  max-width: 400px;
  display: block;
  border: none;
}

/* Khu kênh */
.kenh {
  width: 65%;
  background: #1E1E1E;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
  transition: transform 0.3s ease;
}
.kenh:hover {
  transform: scale(1.02);
}
.Button-yt, .Button-tiktok {
  background: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 12px 25px;
  width: 200px;
  max-width: 80%;
  cursor: pointer;
  transition: 0.3s;
}
.kenh .Button-yt:hover, .kenh .Button-tiktok:hover {
  transform: scale(1.04);
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid  #FFB84D;
  box-shadow: 0 0 10px #FFB84D ;
}
.logo-yt, .logo-tiktok {
  width: 30px;
  height: 30px;
}

/* Khu donate */
.donate {
  width: 70%;
  background: #1E1E1E;
  border: 4px solid #FFFFFF;
  border-radius: 18px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
  transition: 0.3s;
}
.donate:hover {
  transform: scale(1.02);
  background: #000000;
  border: 4px solid #FFB84D;
  box-shadow: 0 0 10px #FFB84D;
}
.kheu-donate {
  color: #FFFFFF;
  text-shadow: 0 0 15px rgba(255,255,255,0.3);
  font-size: 30px;
  margin-top: 10px;
}
.ma-pr {
  width: 40%;
  height: auto;
  border: 4px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1);
}
.nguoi-nhan {
  color: #FFFFFF;
  font-size: 25px;
}

/* Web điện thoại */
@media (max-width: 600px) {
  .home {
    font-size: 130%;
  }
  .search-content {
    width: 40%;
    max-width: 400px;
  }
  .search-content.show {
    top: -34px;
  }
  .menu-content {
    width: 40%;
    right: -300px;
    top: 16px;
  }
  .menu-content.show {
    right: 70px;
  }
  .menu-content button {
    display: block;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 10px 20px;
    margin: 8px auto;
    width: 160px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
  }
  .menu-content button:hover {
    background-color: #FFFFFF;
    color: #000000;
    transform: scale(1.05);
  }
  .phanaddon {
    color: #E0E0E0;
    font-size: 150%;
  }
  .button-container button {
    font-size: 15px;
    padding: 10px 15px;
    width: 90%;
    gap: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
  }
  .button-download button {
    font-size: 13px;
    padding: 10px 15px;
    width: 100%;
    gap: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
  }
  .button-container button:hover, .button-download button:hover {
    transform: scale(1.05);
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid black;
    box-shadow: 0 0 10px #FFB84D;
  }
  .anhaddon {
    width: 20%;
    max-width: 400px;
    display: block;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;
  }
  .button-container button:hover .anhaddon {
    border: 2px solid #000000;
    box-shadow: 0 0 20px #FFB84D;
  }
  .led span {
    font-size: 13px;
  }
  @keyframes chay {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
  .kenh {
    width: 85%;
    background: #1E1E1E;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    transition: transform 0.3s ease;
  }
  .kenh:hover {
    transform: scale(1.02);
  }
  .recipe {
    width: 100%;
    margin-left: -2px;
    border: 2px solid #FFFFFF;
    transition: transform 0.3s ease;
  }
  .recipe:hover {
    transform: scale(1.06);
  }
  .background-addon {
    width: 75%;
    background: #1E1E1E;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
  }
  .video-container {
    width: 100%;
    height: 162px;
    margin-left: -2px;
  }
  .logo-web {
    width: 20%;
    max-width: 400px;
    display: block;
  }
  .gioi-thieu {
    color: #FFFFFF;
    font-size: 13px;
    text-align: left;
  }
  .download-text {
    color: #FFFFFF;
    font-size: 13px;
  }
  .donate {
    width: 80%;
    background: #1E1E1E;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    transition: 0.3s;
  }
  .donate:hover {
    transform: scale(1.02);
    background: #000000;
    border: 2px solid #FFB84D;
    box-shadow: 0 0 10px #FFB84D;
  }
  .kheu-donate {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
    font-size: 20px;
    margin-top: 10px;
  }
  .ma-pr {
    width: 60%;
    height: auto;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
  }
  .nguoi-nhan {
    color: #FFFFFF;
    font-size: 18px;
  }
}